
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFPRODISPLAYBOLD.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jazmin Alt Medium';
    src: url('JazminAlt-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --1st: #131313;
    --2nd: rgb(224, 222, 222);
    --1st-font: 'Jazmin Alt Medium';
    --2nd-font: 'SF Pro Display';
    --3rd-font: 'Proza Libre', sans-serif;
    --links-pad: 20px;
    --links-pad-small: 5px 0;
    --link-pad: 10px 50px;
    --link-pad-small: 5px 10px;
    --padding-large: 100px 50px;
    --padding-small: 50px 25px;/* 8wwh799ewee89wu89ueu+rep9u8ep7+u+u89 e*/
    --font-large: 120px;
    --font-medium: 70px;
    --font-small: 40px;
    --font-tiny: 18px;
}
i{
    font-family: var(--1st-font);
    font-weight: 300;
}

body{
    overflow-x: hidden;
}
.home,.works,.case-studies,.about{
    height: 100vh;
}
.home{
    height: 100vh;
    
    top: 0;
    left: 0;
    z-index: 5;
    background-color:  #392035;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #392035;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 250%;
    transform: rotate(180deg);
    z-index: -1;
}
.logo{
    font-weight: bold;
    font-family: var(--1st-font);
}
.nav{
    color: #EFDBA0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;

}
.links{
    padding: 10px 0;
    border-radius: 10px;
    align-items: center;
}
.logo,.links{
    z-index: 10;
}
.link{
    /* padding: var(--link-pad); */
    text-decoration: none;
    color:  #EFDBA0;
    border-radius: 8px;
    transition: .2s linear;
    
    font-size: var(--font-tiny);
    z-index: 300;
}

.none{
    opacity: 0;
}


.container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}
.split span {
  display: inline-block;
  position: absolute; /* So they don’t affect layout */
  width: 100%;
  left: 0;
}

/* .link:hover{
    background-color: #852526;
    color: var(--2nd);

} */
.play {
    border: none;
    background-color: transparent;
    color: var(--1st);
    font-family: var(--2nd-font);
    padding: 50px 0;
    text-align: center;
}
.btn{
    position: relative;
    padding: 15px 30px;
    background: #EFDBA0;
    color: var(--1st);
    border-radius: 8px;
}
.btn .hover-circle{
        position: absolute;
    width: 50px;
    height: 50px;
    background: var(--1st);
    border-radius: 50%;
    border: 1px solid var(--1st);
    border: none;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    z-index: 0;
}

  .btn span {
    position: relative;
    z-index: 1;
    transition: color 0.6s ease;
  }
  .btn:hover .hover-circle {
    transform: scale(7);
  }
   .btn:hover span {
    color: var(--2nd);
    
  }



.brand{
    text-align: left;
    font-size: var(--font-medium);
    padding: var(--links-pad);
    font-family: var(--2nd-font);
}
.type{
    color: var(--2nd);
    width: 40vw;
    text-align: center;
    font-size: .8vw;
    font-family: var(--2nd-font);
    padding:0;
    opacity: 0.6;
}
.tall{
    height: 60vh;
}

b{
    font-family: var(--2nd-font);
}
/* case-study section code */


/* about section */


.nav2{
    color: #EFDBA0;
    padding: 0;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.second{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 20px 40px;
}
.brag{
    height: 120px;
    width: 25vw;
    background: var(--1st);
    border-radius: 8px;
    display: flex
;
    align-items: center;
    padding: 20px;
}
.text{
    display: flex;
    align-items: left;
    flex-direction: column;

}
.emoji{
    width: 30%;
    font-size: 4vw;
}
.brag-h{
    font-family: var(--1st-font);
    color: var(--2nd);
}
.brag-p{
    font-family: var(--2nd-font);
    color: var(--2nd);
    opacity: 0.8;
    font-size: 1vw;
}
.icon{
    font-size: 2vw;

    color: #392035;
    background-color: #EFDBA0;
    border-radius:8px;
    padding: 5px;
}
.o-link {
    text-align: center;
    text-decoration: none;
}


.logo-s{
    height: 70px;
}

.nav1{
        /* justify-content: center; */
        padding: 50px 40px;
    }
    .loader{
        display: none;
    }
.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo-l{
    height: 25vw;
    }
.type p {
        font-family: "Proza Libre", sans-serif;
        color: #EFDBA0;
}
.icon-area{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-area p{
    font-family: var(--1st-font);

}
.menu{
    background-color: #392035;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 70%;
}
.links a{
    font-size: 5vw;
    font-family: var(--1st-font);

}
.c {
    color: #9e9e9e;
    font-size: var(--font-tiny);
    text-decoration: none;
    font-family: var(--1st-font);
    padding: 0 10px;
}
.c:hover {
    color: #7a7a7a;
    transition: 0.2s linear
}
.no{
    display: none;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}
.up{
    height: 60%;
    width: 100%;
    display: flex;
    padding: 50px 40px 0 40px;

}
.about-txt ,  .f-txt{
    padding: 30px;
}
.about-txt{
    width: 60%;

}
.about-txt b{
    font-size: 1.6vw;
    color: #EFDBA0;
    font-family: var(--1st-font);
    text-transform: uppercase;
}
.aim{
    width: 40%;
    opacity: 0.8;
    display: flex;
    align-items: start;
}
.aim-txt b{
    font-size: 1.5vw;
    
}

.aim-txt{
    padding: 30px;
    border-radius: 8px;
    height: 100%;
    border-radius: 7px 7px 7px 0;
    background: #EFDBA0;
}
.img-a{
    height: 100%;
}
.aim-img{
    background: #392035;
    border-radius: 7px;
    padding: 2vw;
    height: 30%;
}
.area{
    background: #EFDBA0;
    border-radius: 7px 0 0  7px;
    height: 70%;
}
.down{
    height: 40%;
    width: 100%;
    padding: 50px 40px;

}
.f-txt{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: flex;
    background: #EFDBA0;
    opacity: 0.8;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.f-img{
    width: 90px;
    border-radius: 60px;
}
.f-head{
    font-family: var(--1st-font);
    font-size: 1.6vw;
}
/* media queries */
@media (max-width:1100px) {
    .up{
        flex-direction: column;
        gap: 20px;
    }
    .about-txt{
        width: 100%;
        padding: 0;
        
    }
    .aim{
        width: 100%;
    }
    .aim-txt b{
    font-size: 2vw;
    
}
.f-text b{
    font-size: 2vw;
    
}
    .aim-img{
        height: 70%;
    }
    .area{
        height: 30%;
    }
    .up{
        height: 100%;
    }
    .aim-txt{
        font-size: 2.6vw;
    }
    .down{
        height: 100%;
    }
    .about-txt b{
        font-size: 2.6vw;
    }
    .f-txt{
        flex-direction: column;
    }
    .f-img{
        width: 60px;
    }

        .o-link {
        font-size: var(--font-small);
    }
    .c{
        font-size: 12px;
    }
    .links a{
    font-size: 10vw;
    }
    .icon{
        font-size: 4vw;
    }
    .logo{
        
    }
    .brag{
        height: 55px;
        width: 300px;
    }
    .brag-h{
        font-size: 4.5vw;
    }
    .brag-p{
        font-size: 2vw;
    }
    .third{
        flex-direction: column;
    }
    
    

    .links{
        padding: var(--links-pad-small);
    }
    .link{
        padding: var(--link-pad-small);
       
    }
    .marque-container{
        font-size: 12vw;
    }
    
    .works{
        height: 200vh;
        gap: 20px;
    }
    
    .work-row{
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .tall{
        height: 30vh;
    }
    .brand{
        font-size: var(--font-small);
    }
    .para{
        width: 100vw;
    }
    .para h2{
        font-size: 8vw;
    }
    .para h3{
        font-size: 2vw;
    }
    .type{
        width: 80vw;
        font-size: 2vw;
    }
    .logo-l{
    height: 35vw;
    }
    .logo-s{
        height:50px;
    }
}
@media (max-width:600px) {
    .icon{
        font-size: 6vw;
    }
    .marque-container{
        font-size: 16vw;
    }
    .play{
        /* font-size: 2vw; */
    }
    .nav2{

    }
    .type{
        font-size: 2.3vw;
    }
    .logo-l{
    height: 60vw;
}
}

